<% content_for :styles do %>
  <%= stylesheet_link_tag "filepond.min" %>
  <%= stylesheet_link_tag "FilePondPluginImagePreview.min" %>
  <%= stylesheet_link_tag "tabs" %>
  <%= stylesheet_link_tag "alert" %>
  <%= stylesheet_link_tag "switches" %>
  <%= stylesheet_link_tag "account-setting" %>
<% end %>

<div class="account-settings-container layout-top-spacing">
  <div class="account-content">
    <div class="tab-content" id="animateLineContent-4">
      <div class="tab-pane fade active show" id="animated-underline-profile" role="tabpanel" aria-labelledby="animated-underline-profile-tab">
        <% if flash[:alert] %>
          <div class="alert alert-arrow-right alert-icon-right alert-light-warning alert-dismissible fade show mb-4" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="8" x2="12" y2="12"></line>
              <line x1="12" y1="16" x2="12" y2="16"></line>
            </svg>
            <strong>Warning!</strong>  <%= flash[:alert] %>
          </div>
        <% end %>
        <% if flash[:notice] %>
          <div class="alert alert-arrow-right alert-icon-right alert-light-success alert-dismissible fade show mb-4 text-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="8" x2="12" y2="12"></line>
              <line x1="12" y1="16" x2="12" y2="16"></line>
            </svg>
            <strong>Success!</strong>  <%= flash[:notice] %>
          </div>
        <% end %>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 layout- mx-auto">
            <div class="section general-info payment-info">
              <div class="info">
                <h6 class="">Change Password</h6>
                <%= form_with model: @change_password, url: update_my_password_path(@user), method: :patch, local: true do |form| %>
                  <div class="row mt-4">
                    <div class="col-12">
                      <div class="mb-3">
                        <%= form.label :current_password, "Current password<span class='text-danger'>*</span>".html_safe %>
                        <%= form.password_field :current_password, class: "form-control", autocomplete: "current-password", placeholder: "Enter current password", maxlength: 72 %>
                        <% if @change_password.errors[:current_password].any? %>
                      <span class="text-danger">
                        <%= @change_password.errors[:current_password].first %>
                      </span>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-3">
                        <%= form.label :password, "New password<span class='text-danger'>*</span>".html_safe %>
                        <%= form.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72 %>
                        <% if @change_password.errors[:password].any? %>
                        <span class="text-danger">
                          <%= @change_password.errors[:password].first %>
                        </span>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-3">
                        <%= form.label :password_confirmation, "Password confirmation<span class='text-danger'>*</span>".html_safe %>
                        <%= form.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", placeholder: "Repeat new password", maxlength: 72 %>
                        <% if @change_password.errors[:password_confirmation].any? %>
                        <span class="text-danger">
                          <%= @change_password.errors[:password_confirmation].first %>
                        </span>
                        <% end %>
                      </div>
                    </div>
                  </div>

                  <button class="btn btn-secondary mt-4">Change</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :scripts do %>
  <%= javascript_include_tag "filepond.min" %>
  <%= javascript_include_tag "FilePondPluginFileValidateType.min", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "FilePondPluginImageExifOrientation.min", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "FilePondPluginImagePreview.min", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "FilePondPluginImageCrop.min", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "FilePondPluginImageResize.min", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "FilePondPluginImageTransform.min", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "filepondPluginFileValidateSize.min", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "custom-filepond", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "account-settings", "data-turbo-track": "reload" %>
  <script>
      /**
       * ==================
       * Single File Upload
       * ==================
       */

      // We register the plugins required to do
      // image previews, cropping, resizing, etc.
      FilePond.registerPlugin(
          FilePondPluginFileValidateType,
          FilePondPluginImageExifOrientation,
          FilePondPluginImagePreview,
          FilePondPluginImageCrop,
          FilePondPluginImageResize,
          FilePondPluginImageTransform,
//   FilePondPluginImageEdit
      );

      // Select the file input and use
      // create() to turn it into a pond
      FilePond.create(
          document.querySelector('#avatar'),
          {
              server: {
                  process: '/players',
                  revert: '/revert',
                  restore: null,
                  load: null,
                  fetch: null,
              },
              imagePreviewHeight: 170,
              imageCropAspectRatio: '1:1',
              imageResizeTargetWidth: 200,
              imageResizeTargetHeight: 200,
              stylePanelLayout: 'compact circle',
              styleLoadIndicatorPosition: 'center bottom',
              styleProgressIndicatorPosition: 'right bottom',
              styleButtonRemoveItemPosition: 'left bottom',
              styleButtonProcessItemPosition: 'right bottom',
              files: [
                  {
                      // the server file reference
                      source: '',

                      // set type to limbo to tell FilePond this is a temp file
                      options: {
                          type: 'image/png',
                      },
                  },
              ],
          }
      );
  </script>
<% end %>