<div class="modal fade" id="exampleModalCenter-<%= player.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4 col-md-4 layout-spacing">
            <a class="card style-7" href="/players/<%= player.id %>" target="_blank" style="background-image: url('<%= asset_path('/img/content-card-vector.jpg') %>')">
							<% if player.avatar.attached? %>
								<%= image_tag url_for(player.avatar), class: "card-img-top", alt: "avatar" %>
							<% else %>
								<%= image_tag url_for('/img/bg.png'), class: "card-img-top", alt: "avatar" %>
							<% end %>
              <div class="card-footer">
                <h5 class="card-title text-center mb-0"><%= player.first_name + ' ' + player.last_name %></h5>
              </div>
            </a>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="payment-history layout-spacing ">
              <div class="widget-content">
                <div class="list-group">
                  <div class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="me-auto">
                      <div class="fw-bold title">Name</div>
                    </div>
                    <span class="pay-pricing align-self-center me-3"><%= player.first_name + ' ' + player.last_name %></span>
                  </div>
                  <div class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="me-auto">
                      <div class="fw-bold title">Email</div>
                    </div>
                    <span class="pay-pricing align-self-center me-3"><%= player.email %></span>
                  </div>
                  <div class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="me-auto">
                      <div class="fw-bold title">Point</div>
                    </div>
                    <span class="pay-pricing align-self-center me-3"><%= player.point %></span>
                  </div>
                  <div class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="me-auto">
                      <div class="fw-bold title">Point Plus</div>
                    </div>
                    <span class="pay-pricing align-self-center me-3"><%= player.point_plus %></span>
                  </div>
                  <div class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="me-auto">
                      <div class="fw-bold title">Date of Birth</div>
                    </div>
                    <span class="pay-pricing align-self-center me-3"><%= "#{player.birth_date.strftime('%d-%m-%Y')} (#{player.age})" %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>